{:error/recaptcha (str "You failed the recaptcha test. Try again, "
                       "and make sure you aren't blocking scripts from Google.")
 :error/invalid-email "Invalid email. Try again with a different address."
 :error/invalid-credentials "Invalid credentials. Try again."
 :error/send-failed (str "We weren't able to send an email to that address. "
                         "If the problem persists, try another address.")
 :error/default "There was an error."

 :alert/user-saved "Your user has been successfully saved or updated."
 :alert/finances-saved "Your finances have been successfully saved or updated."
 :alert/tax-profile-saved "Your tax assessment profile has been saved."
 :alert/budget-item-saved "Your budget item has been successfully saved or updated."
 :alert/budget-item-deleted "Your budget item has been successfully deleted."
 :alert/goal-saved "Your goal has been successfully saved or updated."
 :alert/goal-deleted "Your goal has been successfully deleted."

 :user/fields #{"firstname" "lastname" "age" "email" "password"}

 :finances/fields #{"bank" "card-type" "salary" "payday"}

 :banking/banks #{:absa :capitec :discovery-bank :fnb :nedbank :standard-bank}
 :banking/card-types #{:visa :mastercard}
 :banking/card-colours {:absa "from-red-500 to-red-800"
                        :capitec "from-gray-600 to-black"
                        :discovery-bank "from-yellow-500 to-amber-800"
                        :fnb "from-teal-500 to-teal-800"
                        :nedbank "from-emerald-500 to-green-800"
                        :standard-bank "from-blue-500 to-blue-800"
                        :default "from-gray-600 to-black"}

 :budget-item/types #{:income :expenses :savings}

 :event/types #{:general :bill :income}}
