{;; SARS 2027 year of assessment (1 March 2026 – 28 February 2027)
 :tax-brackets
 [{:threshold 0        :rate 0.18 :base-tax 0}
  {:threshold 245100   :rate 0.26 :base-tax 44118}
  {:threshold 383100   :rate 0.31 :base-tax 79998}
  {:threshold 530200   :rate 0.36 :base-tax 125599}
  {:threshold 695800   :rate 0.39 :base-tax 185215}
  {:threshold 887000   :rate 0.41 :base-tax 259783}
  {:threshold 1878600  :rate 0.45 :base-tax 666339}]

 :rebates
 {:primary 17820
  :secondary 9765
  :tertiary 3249}

 :thresholds
 {:under-65 99000
  :age-65-plus 153250
  :age-75-plus 171300}

 :age-bands
 {:secondary-rebate-from 65
  :tertiary-rebate-from 75}}
