/.cpcache
/.nrepl-port
/bin
/config.edn
/config.sh
/config.env
/node_modules
/secrets.env
/storage/
/tailwindcss
/target
/resources/public/css/main.css
.calva/
.clj-kondo/
.lsp/
.portal/
.shadow-cljs/
/.DS_Store
/greed-app-key.pem
